node_modules/
wwwroot/build/
wwwroot/doc/
npm-debug.log
version.js
wwwroot/init/nm.json
datasources/00_National_Data_Sets.json
.DS_Store
.localized
.sass-cache
/terriajs.pid
/terriajs-server.log
commands.sh

/wwwroot/editor/
/error.log

# added by GitSavvy
/error.log
/output.log
privateserverconfig.json
wwwroot/privateconfig.json
deploy/packages/
deploy/work/
