node_modules/
wwwroot/build/
wwwroot/doc/
wwwroot/google1d05991d8aa5afd3.html
npm-debug.log
version.js
wwwroot/init/nm.json
datasources/00_National_Data_Sets.json
.DS_Store
.localized
.sass-cache
/terriajs.pid
/terriajs-server.log
commands.sh

/wwwroot/editor/

/error.log
/output.log
privateserverconfig.json
wwwroot/privateconfig.json
deploy/packages/
deploy/work/
packages/

# added by leylines
wwwroot/config.json
